.red {
  width: 150px;
  height: 150px;
  background-color: red;
}

.green {
  width: 150px;
  height: 150px;
  background-color: gree;
}

.flex-container {
  display: flex;
  justify-content: space-between;

}

.item {
  flex-basis: 100px;
  height: 100px;
  background-color: aquamarine;
  padding: 10px;
  border: 5px solid darkblue;
  margin: 10px;
}

.item:nth-child(2) {
  flex-grow: 1;
}

.box {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  padding: 10px;
  border: 5px solid darkblue;
  margin: 10px;
}

.box:last-child {
  background-color: gold;
}

.box:not(:first-child) {
  background-color: blanchedalmond;
}

.box:nth-child(2),
.box:nth-child(3) {
  background-color: brown;
}

.box:nth-child(odd) {
  background-color: blueviolet;
}

.box:nth-child(n + 5) {
  background-color: chartreuse;
}

.box:nth-child(2n + 3) {
  background-color: orange;
}