.contact-section {
  padding-bottom: 0;

  @media screen and (min-width: $bp-tablet) {
    padding-bottom: 96px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      gap: 32px;
    }
  }

  &__map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
    height: 176px;
    margin: 0 -24px;

    @media screen and (min-width: $bp-tablet) {
      width: 310px;
      height: 545px;
      margin: 0;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 600px;
      height: 595px;
      margin: 0;
    }
  }

  &__form-field {
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 8px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 16px;
    }
  }

  &__text {
    font-size: 18px;
    margin-bottom: 24px;
    color: var(--color-brand-dark);
  
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 42px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
      margin: 0 auto 16px;
    }
  }
}
