.footer {
  text-align: center;
  position: relative;
  padding: 32px 0;
  background-color: var(--primary-color-dark);
  background-image: url('../images/footer-mobile-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: $bp-tablet) {
    text-align: left;
    background-image: url('../images/footer-background.png');
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-basis: 50%;
      flex-direction: row;
    }
  }

  &__menu,
  &__address-list,
  &__address-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__logo {
    margin-bottom: 16px;

    @media screen and (min-width: $bp-tablet) {
      margin: 0;
    }
  }

  &__logo,
  &__menu,
  &__address-info,
  &__address-list {
    flex-grow: 1;
  }

  &__address-link {
    color: var(--primary-color-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;

    &:hover {
      color: var(--color-brand-normal);
    }
  }

  &__address-copyright {
    color: var(--color-secondary-dark);
    font-size: 14px;
  }

  &__address-icon-container {
    display: flex;
    gap: 22px;
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
      margin: 0;
    }
  }

  &__address-icon {
    fill: var(--primary-color-light);

    &:hover {
      fill: var(--color-brand-normal)
    }
  }

  &::before,
  &::after {
    position: absolute;
    background-repeat: no-repeat;
    content: '';

    @media screen and (min-width: $bp-tablet) {
      bottom: 0;
    }
  }

  &::before {
    left: 0;
    background-image: url('../images/mobile-decor-bread-small.png');
    width: 95px;
    height: 200px;

    @media screen and (min-width: $bp-tablet) {
      width: 180px;
      height: 120px;
      background-image: url('../images/decor-bread-small.png');
    }
  }

  &::after {
    right: 0;
    bottom: 0;
    background-image: url('../images/mobile-decor-bread-large.png');
    width: 100px;
    height: 90px;

    @media screen and (min-width: $bp-tablet) {
      width: 380px;
      height: 186px;
      background-image: url('../images/decor-bread-large.png');
    }
  }
}
